extends menu
block content1
    div
        .row
            .col-md-1
          if(!fleetid)
            .col-md-10.text-center
                .alert.alert-warning(role='alert') 我们需要对您的身份进行审核，请您按照要求填写
            .col-md-1
        .row.list
            .col-md-1.text-right
            .col-md-10
                p
                    b |
                    |                我的车队
                div
                    .col-md-4
                         if(fleetphoto==null)
                            img.img-responsive(src='img/1.png', style='margin-top: 60px;')
                         else
                             img.img-responsive(src=fleetphoto, style='margin-top: 60px;')
                    .col-md-7.col-md-offset-1
                      if(fleetid != null)
                          ul
                              li
                                  | 车队编号: 
                                  span #{fleetid}
                              li
                                  | 车队名称: 
                                  span #{fleetname}
                              li
                                  | 负责人电话: 
                                  span #{fleetphone}
                              li
                                  | 订单分配: 
                                  span #{fleetphone}
                              li
                                  | 车队介绍: 
                                  p #{fleetinfo}
                      if(fleetid == null)
                        div(style='margin-top: 40px;')
                            p.text-center(style='letter-spacing: 5px;')
                                | 当前您还没有车队，您可以选择
                            a(href='createfleet')
                                button.btn.btn-info.col-md-6.col-md-offset-3.btn-lg(type='button', style='margin-top: 20px')
                                    | 创 建 车 队
            .col-md-1

